<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ureca.ureca.domain.summary.mapper.SummaryMapper">

  <!-- 컬럼 alias로 DTO 필드에 바로 매핑 -->
  <select id="selectSummaries" resultType="com.ureca.ureca.domain.summary.dto.SummaryItem">
    SELECT
      id,
      title,
      DATE(created_at) AS createdDate
    FROM counsel_summary
    WHERE user_id = #{userId}
    <if test="cursor != null">
      AND id <![CDATA[ < ]]> #{cursor}
    </if>
    ORDER BY id DESC
    LIMIT #{limit}
  </select>

  <select id="selectRecentSummaries" resultType="com.ureca.ureca.domain.summary.dto.SummaryItem">
    SELECT
      id,
      title,
      DATE(created_at) AS createdDate
    FROM counsel_summary
    WHERE user_id = #{userId}
    ORDER BY id DESC
    LIMIT #{limit}
  </select>
  
    <!-- 상담내역 1건(요약) 조회 -->
  <select id="selectSummaryDetail"
          resultType="com.ureca.ureca.domain.summary.dto.SummaryDetailResponseDto">
    SELECT
      id,
      title,
      content,
      DATE(created_at) AS createdDate
    FROM counsel_summary
    WHERE id = #{id}
      AND user_id = #{userId}
  </select>

  <!-- 해당 요약의 하이라이트 목록 -->
  <select id="selectHighlights"
          resultType="com.ureca.ureca.domain.summary.dto.HighlightItemDto">
    SELECT
      seq,
      speaker AS role,
      text AS message
    FROM counsel_summary_highlight
    WHERE summary_id = #{summaryId}
    ORDER BY seq ASC
  </select>
  
  <!-- 상담요약 저장 -->
    <insert id="insertSummary"
            parameterType="com.ureca.ureca.domain.summary.dto.CounselSummary"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO counsel_summary (
            user_id,
            title,
            content
        ) VALUES (
            #{userId},
            #{title},
            #{content}
        )
    </insert>

    <!-- 상담요약 핵심 버블 저장 -->
    <insert id="insertHighlights">
        INSERT INTO counsel_summary_highlight (
            summary_id,
            seq,
            speaker,
            text
        ) VALUES
        <foreach collection="highlights" item="item" separator=",">
            (
                #{item.summaryId},
                #{item.seq},
                #{item.speaker},
                #{item.text}
            )
        </foreach>
    </insert>

</mapper>
