<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ureca.ureca.domain.user.mapper.UserMapper">

	<select id="findById" resultType="com.ureca.ureca.domain.user.dto.User">
		SELECT id, email, name
		FROM users
		WHERE id = #{id}
	</select>

  <select id="findByFirebaseUid" resultType="com.ureca.ureca.domain.user.dto.User">
    SELECT id, firebase_uid AS firebaseUid, email, name, photo_url AS photoUrl,is_first_login AS firstLogin, last_login_at AS lastLoginAt
    FROM users
    WHERE firebase_uid = #{firebaseUid}
    LIMIT 1
  </select>

  <insert id="insertFirebaseUser" parameterType="com.ureca.ureca.domain.user.dto.User" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO users (firebase_uid, email, name, photo_url, created_at, last_login_at)
    VALUES (#{firebaseUid}, #{email}, #{name}, #{photoUrl}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>

  <update id="updateFirebaseUser" parameterType="com.ureca.ureca.domain.user.dto.User">
    UPDATE users
    SET
      email = #{email},
      name = #{name},
      photo_url = #{photoUrl},
      last_login_at = CURRENT_TIMESTAMP
    WHERE firebase_uid = #{firebaseUid}
  </update>
  
    <update id="completeFirstLogin">
    UPDATE users
    SET
      is_first_login = FALSE
    WHERE id = #{userId}
  	</update>

</mapper>
